* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: green;
    width: 100%;
    top: 0;
    left: 0;
    height: 20vh; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    box-sizing: border-box; 
}

nav {
    display: flex;
    align-items: center;
}

ul.cabecalho {
    display: flex;
    justify-content: space-between; 
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    gap: 4%;
}

ul.cabecalho li {
    font-size: 4vw;
}

ul.cabecalho li a {
    color: black;
    text-decoration: none;
}

.logo {
    width: 15%;
    height: auto;
    border-radius: 35%;
}

.menucadastro:hover, .menuconfig:hover, .menulogin:hover {
    text-decoration: underline;
}

main {
    padding: 2%;
    width: 100%;
    height: 80%; 
    overflow-y: auto; 
    box-sizing: border-box; 
}

.forum-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

h1.forum {
    margin: 0;
}


.duvidasfrequentes-link {
    display: inline-block;
    margin-left: 2%;
    padding: 1% 2%; 
    background-color: rgba(31, 9, 224, 0.8); 
    color: white; 
    border-radius: 5px; 
    text-decoration: none; 
    font-size: 1.2em; 
    text-align: center;
}

.duvidasfrequentes-link:hover {
    background-color: darkblue; 
    text-decoration: underline; 
}

form {
    margin-bottom: 2%;
}

label {
    display: block;
    font-size: 1.2em; 
}

input, textarea {
    width: 100%;
    padding: 1%; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 1% 2%; 
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

button.vermensagem {
    padding: 1% 2%;
    background-color: rgba(31, 9, 224, 1); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.vermensagem:hover {
    background-color: darkblue; 
}

button.botaoeditar {
    padding: 1% 2%;
    background-color: rgba(7, 209, 34, 0.9); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.botaoeditar:hover {
    background-color: darkgreen;
}

button.botaoexcluir {
    padding: 1% 2%;
    background-color: rgba(255, 0, 0, 0.8); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.botaoexcluir:hover {
    background-color: darkred;
}

#mensagens div {
    margin-bottom: 2%;
}

label {
    display: block;
    margin-bottom: 2%;
    font-size: 1.2em;
}
