/*JULIÃO - INÍCIO
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* Configurações Gerais - Inicio */
*{
    margin:0;
    padding:0;
}
/* Configurações Gerais - Final */



/* Cabeçalho */


header{
    background-color:green;
}

nav{
    display:flex;
    justify-content: space-between;
    padding:30px;

}
ul{
    display:flex;
    align-items: center;
}

li{
    text-decoration: none;
    list-style: none;
    margin-left:15px;
    margin-right:15px;
    padding: 10px;
    border-radius: 5px;
    height:15px;
    font-size:xx-large;
}

.menu:hover{
    text-decoration: underline;
}

a.menu{
    color:black;
    text-decoration: none;
}

img.logo{
    margin-left:40px;
    height:100px;
    width:100px;
    border-radius: 5em;
}


/* Cabeçalho Final */

/* main Inicio */

main#mainjulio{
    background-color: rgb(87, 248, 87);
}

h1.problem{
    margin-left: 9.5em;
    margin-bottom: 1em;
    font-size: 50px;
    margin-top:1.5em;
}


.problem{
    margin-left:20em;
    font-size:23px;
}

div.first{
    display:flex;
    justify-content: space-between;
}

div.text{
    display:block;
}

img.money{
    margin-top:5em;
    margin-right:23em;
    margin-bottom:5em;
    border:0.3em solid green;
    width:700px;
    height:370px;
}

img.lupa{
    margin-top:5em;
    margin-left:23em;
    margin-bottom:5em;
    border:0.3em solid green;
    height: 400px;
    width: 700px;
}

h1.solucao{
    margin-right: 15em;
    margin-bottom: 1em;
    font-size: 50px;
    margin-top:1em;
}

div.second{
    display:flex;
    justify-content: space-between;
}

p.solucao{
        font-size:22px;
        
}

h1.equipe{
    margin-left: 19em;
    margin-top: 5em;
}


ol.aluno{
    margin-left: 35em;
    margin-top:2em;
    
}

li.aluno{
    margin-top: 0.5em;
    
}

.third{
   display:flex;
   justify-content: space-between;
}

.third2{
    display:block;

}


img.equipe{
    margin-right:25em;
    margin-bottom:5em;
    margin-top:-5em;
    border: 0.3em solid green;
}

h1.sobrenos{
    margin-left:18.5em;
    margin-top:0.5em;
    font-size:xx-large;
}

p.sobrenos{
    margin-left:22em;
    margin-top:3em;
    font-size:x-large;
    margin-bottom:5em;
}

div.four{
    display:flex;
    justify-content: space-between;
}

div.contato{
    margin-right:40em;
    font-size:large;
    margin-top:1em;
}

img.contato, .contato1 {
    height: 5em;
    width:  5em;
    margin-top:2em;
}

img.contato1{
    margin-right:3em;
}
/* main Final */

/* Rodapé Inicio */

footer{
    background-color:rgb(8, 34, 8);
    color:white;
    display:flex;
    justify-content: center;
    font-size:xx-small ;
    padding: 8px;
}



/* Rodapé Final */


/*JULIÃO - FINAL
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*GABRIEL - INÍCIO
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#resumobox{
    margin: 2% 5%;
}

#resultbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4% 1%;
}

#resultitle{
    margin: auto;
    text-align: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

/*Gráfico 1*/

    #graf1box{
        width: 33%;
    }

    #graf1box h3 {
        width: 300px;
    }

    #pie-chart1{
        margin: auto;
    }

/*Gráfico 2*/

    #graf2box{
        width: 33%;
    }
    
    #graf2box h3 {
        width: 300px;
    }

    #pie-chart2{
        margin: auto;
        
    }

/*Mensagem*/

    #messagebox{
        width: 33%;
        
    }

    #message{
        margin: 27% 5%;
    }
    

/*Sugestões*/

    

    #sugesttitle{
        background-color: white;
    }
    #sugestbox{
        margin: 1% 5%;
    }
    
    .card:hover{
       background-color: lightgray;
       
    }
    
    .linksugest{
        text-decoration: none;
        color: inherit;
    }
    .linksugest:hover{
        text-decoration: underline;
        font-style: italic;
    }


    /*ARRUMAR OS MEDIA QUERIES*/
    @media (max-width: 950px) { 
        #resumobox{
            margin: 2% 5%;
        }
        
        #resultbox{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 4% 1%;
        }
        
        #resultitle{
            margin: auto;
            text-align: center;
            box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
        }
        
        /*Gráfico 1*/
        
            #graf1box{
                width: 33%;
            }
        
            #graf1box h3 {
                width: 300px;
            }
        
            #pie-chart1{
                margin: auto;
            }
        
        /*Gráfico 2*/
        
            #graf2box{
                width: 33%;
            }
            
            #graf2box h3 {
                width: 300px;
            }
        
            #pie-chart2{
                margin: auto;
                
            }
        
        /*Mensagem*/
        
            #messagebox{
                width: 33%;
                
            }
        
            #message{
                margin: 27% 5%;
            }
            
        
        /*Sugestões*/
        
            
        
            #sugesttitle{
                background-color: white;
            }
            #sugestbox{
                margin: 1% 5%;
            }

            .card:hover{
               background-color: lightgray;
               
            }
            
            .linksugest{
                text-decoration: none;
                color: inherit;
            }
            .linksugest:hover{
                text-decoration: underline;
                color: darkolivegreen;  
            }
        
        
    }

/*GABRIEL - FIM
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/





/*SAMUEL - INÍCIO
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #079804;
    color: #fff;
}

.logo img {
    max-width: 100px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.menu {
    padding: 8px 15px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

nav ul li a.menu:hover {
    background-color: #ddd;
}

#log {
    width: 60%;
}

.configuracoes {
    text-align: center;
    margin-top: 20px;
}

.configuracoes h1 {
    margin-bottom: 20px;
}

.configuracoes .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.configuracoes .config-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    margin-bottom: 20px; 
}

.configuracoes .config-btn:hover {
    background-color: #0056b3;
}



/*SAMUEL - FIM
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/






/*MATEUS - INÍCIO
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
form {
    background-color: #fff;
    padding: 2rem;
    border: #333;
    border-radius: 0.8rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 60rem;
    position: absolute;
    left:13% ;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}

label {
    font-weight: bold;
}

select,
input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
}

button {
    padding: 0.8rem 1.2rem;
    background-color: #9BD56D;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

button:hover {
    background-color: #A1E9C2;
}

#btnEnv{
    padding: 0.8rem 1.2rem;
    background-color: #9BD56D;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}
#btnEnv:hover {
    background-color: #A1E9C2;
}
/*MATEUS - FIM
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/






/*RASSI - INÍCIO
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*RASSI - FIM
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
